In [26]:
import pandas as pd
from scipy import stats

df = pd.read_csv(r'C:\Users\TristanDelforge\Documents\data_files\adult.data', nrows = 20)
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [27]:
df.columns.tolist()

['39',
 ' State-gov',
 ' 77516',
 ' Bachelors',
 ' 13',
 ' Never-married',
 ' Adm-clerical',
 ' Not-in-family',
 ' White',
 ' Male',
 ' 2174',
 ' 0',
 ' 40',
 ' United-States',
 ' <=50K']

In [28]:
df['target_num'] = df[' <=50K'].apply(lambda x: 1 if x == ' <=50K' else 0)
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,target_num
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,1
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,1
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,1
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,1
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,1

In [29]:
df['target_num'].describe()

count    20.000000
mean      0.600000
std       0.502625
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000
Name: target_num, dtype: float64

In [30]:
_, _, _, p_value_num_num, _ = stats.linregress(df['39'], df['target_num'])
p_value_num_num

0.4957413717329938

In [31]:
unique_values = set(df['target_num'])
subsets = [df[df['target_num'] == temp_target_value]['39'].tolist() for temp_target_value in unique_values]
_, p_value2 = stats.f_oneway(*subsets)
p_value2

0.49574137173299404

In [41]:
unique_values_col = set(df[' State-gov'])
unique_values_target = set(df[' <=50K'])

value_mapping_col = {k: n + 1 for n, k in enumerate(unique_values_col)}
value_mapping_target = {k: n + 1 for n, k in enumerate(unique_values_target)}

temp_col_s = df[' State-gov'].replace(value_mapping_col).astype(int).tolist()
temp_target_s = df[' <=50K'].replace(value_mapping_target).astype(int).tolist()

_, p_value = stats.chisquare(temp_col_s, temp_target_s)
p_value

0.104653070290999

In [34]:
temp_target_s, temp_col_s

([1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 1, 2, 2, 1, 2])

In [35]:
stats.chisquare([1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0], [1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 1, 2, 2, 1, 2])

Power_divergenceResult(statistic=nan, pvalue=nan)

In [40]:
stats.chisquare([4, 4, 5, 5], [4, 4, 4, 0])

Power_divergenceResult(statistic=inf, pvalue=0.0)